.item {
	border-radius: var(--mantine-radius-md);
	overflow: hidden;
	box-shadow: var(--mantine-shadow-xs);
	border: 1px solod transparent;

	background-color: light-dark(var(--mantine-color-body), var(--mantine-color-gray-light));
}

.control {
	border-radius: var(--mantine-radius-md);
	transition: 0.25s all ease;

	@include hover {
		background-color: light-dark(var(--mantine-color-gray-light), var(--mantine-color-gray-light));
	}
}

.label {
	font-weight: 500;
}

.chevron {
}
