.input {
	&[data-variant="default"] {
	}
}

.label {
	margin-left: var(--mantine-spacing-lg);
}

.description {
	margin-left: var(--mantine-spacing-lg);
}

.error {
	margin-left: var(--mantine-spacing-lg);
}
