.actionIconLeft {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.actionIconRight {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

// number input

.input {
	text-align: center;
	border-radius: 0;
}
