.card {
	background-color: light-dark(var(--mantine-color-gray-light), var(--mantine-color-gray-light));
	padding: var(--mantine-spacing-xl);
	height: 100%;
}

.title {
	font-weight: bolder;
	font-size: calc(var(--mantine-font-size-xl) * 1.2);
}

.description {
	color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-6));
}
