.card {
	background-color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-pri-6));
	color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
	padding: var(--mantine-spacing-xl);
	height: 100%;
}

.title {
	font-weight: bolder;
	font-size: calc(var(--mantine-font-size-xl) * 1.2);
}

.description {
}
