.tab {
	padding: 0;
	padding-top: var(--mantine-spacing-md);
	transition: 0.25s all ease;

	.image {
		transition: 0.25s all ease;
		border: 2px solid transparent;

		@include hover {
			cursor: pointer;
			box-shadow: var(--mantine-shadow-md);
		}
	}

	&[data-active] {
		border-top: 2px solid transparent;

		.image {
			border: 2px solid light-dark(var(--mantine-color-pri-6), var(--mantine-color-pri-6));
		}
	}

	@include larger-than($mantine-breakpoint-xs) {
		padding: 0;

		&[data-active] {
			border-top: 0px solid transparent;
			border-right: 2px solid transparent;
		}
	}

	@include larger-than($mantine-breakpoint-md) {
		padding-top: var(--mantine-spacing-md);

		&[data-active] {
			border-top: 2px solid transparent;
			border-right: 0px solid transparent;
		}
	}

	@include hover {
		background-color: transparent;
		cursor: default;
	}
}

.panel {
	padding-bottom: var(--mantine-spacing-md);

	@include larger-than($mantine-breakpoint-xs) {
		padding-bottom: 0;
		padding-left: var(--mantine-spacing-md);
	}

	@include larger-than($mantine-breakpoint-md) {
		padding-bottom: var(--mantine-spacing-md);
		padding-left: 0;
	}
}
