.header {
	padding: var(--mantine-spacing-xs) 0;
	border-bottom: rem(1px) solid var(--mantine-color-default-border);

	@include larger-than($mantine-breakpoint-xs) {
		border-bottom: 0 solid var(--mantine-color-default-border);
	}
}
