.card {
	background-color: transparent;
	// border: 1px solid var(--mantine-color-gray-3);
	height: 100%;
	transition: 0.25s all ease;

	@include hover {
		// box-shadow: var(--mantine-shadow-sm);
		// border: 1px solid var(--mantine-color-pri-6);

		.buttonGroup {
			opacity: 1;
		}
	}
}

.buttonGroup {
	position: absolute;
	left: 0;
	bottom: var(--mantine-spacing-md);
	right: 0;
	transition: 0.25s all ease;
	opacity: 0;
}

.link {
	transition: 0.25s all ease;
	color: var(--mantine-color-text);

	@include hover {
		color: var(--mantine-color-anchor);
	}
}
