.root {
	box-shadow: var(--mantine-shadow-xs);
	background-color: var(--mantine-color-body);
	border: 1px solid var(--mantine-color-default-border);

	&[data-variant="success"] {
		.icon {
			background-color: var(--mantine-color-green-6);
		}
	}

	&[data-variant="failed"] {
		.icon {
			background-color: var(--mantine-color-red-6);
		}
	}

	&[data-variant="info"] {
		.icon {
			background-color: var(--mantine-color-blue-6);
		}
	}
}
