.box {
	background-color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-pri-6));
	border-top-right-radius: var(--mantine-radius-sm);
	border-bottom-right-radius: var(--mantine-radius-sm);
}
